html, body{
    margin: 0;
    padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    width: max-content
}
p{
    max-width: 60ch;
    
}

ul{
    list-style: none;
    
}
nav{
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 0.2em;
}

nav li{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;

}

header{

    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 10em;
}



img{
    border-radius: 1em;
}



.logo-img{
    max-width: 280px;
    padding: 10px;
}