html, body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}


body{
    font-family: 'Times New Roman', Times, serif;
    position: relative;


}

section{
    padding: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 4em;
    line-height: 0.9em;
    font-weight: 100;
    color:yellowgreen;
    text-align: center;
}
p{
    max-width: 60ch;
    line-height: 1.5em;
    
}

ul{
    list-style: none;
    
}
nav{
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 0.2em;

    z-index: 10;
}

nav li{
    display: inline-block;
    padding: 10px;
}
nav li:hover{
    text-decoration:  wavy underline;

}
a{
    text-decoration: none;

}

header{
   
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;

}

/* how to add breakpoint */
@media screen and (max-width: 600px){
    header{
        position: static;
        flex-direction: column;
        align-items: center;
    }
    nav{
        padding: 5px;
    }
}







.logo-img{
    max-width: 280px;
    padding: 10px;
}






