@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {

    --primary-color: #yellowgreen;
    --secondary-color:#C0EEF2;
    --dark-color:#181823;
    --light-color:#E9F8F9;
    --primary: #537FE7;
    --light: #d6d6d6;
    --dark: #1d1818;
    --dark-50: #919191;
    --success: #38a460;
    --danger: #a43838;
    --warning: #d5c623;
    --white: #fff;
    --trigger-mobile: 400px;
  }
  
html, body{
    margin: 0;
    padding: 0;


}


body{
    font-family: 'Space Grotesk', sans-serif;
    position: relative;


}

section{
    padding: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Space Grotesk', sans-serif;
}

h2{
    font-size: 4em;
    line-height: 0.9em;
    font-weight: 100;
    color:yellowgreen;
    text-align: center;
}
p{
    max-width: 60ch;
    line-height: 1.5em;
    
}

ul{
    list-style: none;
    
}
nav{
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 2px;

    z-index: 10;
}

nav li{
    display: inline-block;
    padding: 7px;
}
nav li:hover{
    transform: scale(1.1);
    text-decoration:  wavy underline 1px;

}
a{
    text-decoration: none;

}

header{
   
    position: sticky;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;

}


.menu-btn-tonggle{
    display: none;
    cursor: pointer;

    outline: none;
    margin: 15px;
    z-index: 10;
    
}
/* how to add breakpoint */
@media screen and (max-width: 600px){
    .menu-btn-tonggle{
        display: block;
        margin: 20px;
        background-color: transparent;
        
       
    }
    .top-nav{
        
        width: 100%;
        display: none;
        position: absolute;
        z-index: -10;
        top: 0;
        margin-top: 70px;
        padding: 30px 0;
        background-color: rgb(238, 238, 238);
    }
    .top-nav li{
        display: block;
        font-size: larger;
        line-height: 3;
        text-align: left;
    }

    .top-nav active{
        display: visible;
    }
}
.top-nav{
    display: visible;
}







.logo-img{
    max-width: 280px;
    padding: 10px;
}




.page-h1{
    font-size: 45px;
    line-height: 3;
    color: #ffffff;
    
    text-align: center;
    margin: 0;
    margin-top: 70px;

    
    


    background: url(../img/gaetano-cessati-d91HDmCta0k-unsplash.jpeg);
    /* background image */
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;
    display: block;


}


footer{
    padding: 50px 0;
    background-color: #edf2ff;

}

footer nav ul {
    text-align: left;
}

